
{% extends "base.html" %}
{% block content %}
    <h1>
        Blotter
    </h1>
    <hr>
    {% for incident in incidents.items %}
        <p>{{incident.datetime}}</p>
        <div>Types: {{incident.types}}</div>
        <div>Location: {{incident.location.name }}</div>
        <div>Summary: {{incident.summary}}</div>
        <hr>
    {% endfor %}
    {% if incidents.has_prev %}<a href="{{ url_for('blotter', page=incidents.prev_num) }}">&lt;&lt; Newer incidents</a>{% else %}&lt;&lt; Newer incidents{% endif %} | 
	{% if incidents.has_next %}<a href="{{ url_for('blotter', page=incidents.next_num) }}">Older incidents &gt;&gt;</a>{% else %}Older incidents &gt;&gt;{% endif %}
{% endblock %}