{% extends "base.html" %}
{% block content %}
This will be the map page


<h1>BLOP</h1>
<div id="blop-map">
<!-- css for the svg is in svg.css, which is linked from the .svg -->
<!-- The svg file is housed in the static directory -->
    <object id="blop-svg" data="../static/blop_map_final_copy.svg" type="image/svg+xml">
    </object>
</div>

<script src="https://code.jquery.com/jquery-3.1.0.js" integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk=" crossorigin="anonymous"></script>
<script type="text/javascript">

{% endblock %}