{% extends "base.html" %}
{% block content %}

<div class="container">
  <h1>BLOP</h1>
  <div id="blop-map">
    <!-- css for the svg is in svg.css, which is linked from the .svg -->
    <object id="blop-svg" data="../static/blop_map_final.svg" type="image/svg+xml">
    </object>
  </div>
  <div id="blop-info-pane"></div>
  <!-- div for popup info pane below -->
  <div id="info-box"></div>
</div>


<script src="https://code.jquery.com/jquery-3.1.0.js" integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk=" crossorigin="anonymous"></script>
<script type="text/javascript">

{% endblock %}