{% extends "base.html" %}
{% block content %}

	<h1><div style='align-center'>Search</div></h1>
	<!-- The file with the Javascript magic that is being invoked
	here is in the Static folder.  That is what this tag says. -->
	<script src='{{ url_for("static", filename="forms.js")}}' language="Javascript" type="text/javascript"></script>
	<form action="/processform" method="post">
		<!-- Just your average date/time stuff.  Select tags, yay! -->
		<div id="startdate">
			<label for="date">Start Date</label><br>
			<select id="start_month" name="start_month">
				<option value="0">Select a Month</option>
				<option value="1">January</option>
				<option value="2">February</option>
				<option value="3">March</option>
				<option value="4">April</option>
				<option value="5">May</option>
				<option value="6">June</option>
				<option value="7">July</option>
				<option value="8">August</option>
				<option value="9">September</option>
				<option value="10">October</option>
				<option value="11">November</option>
				<option value="12">December</option>
			</select>
			<select id="start_day" name="start_day">
				<option value="0">Select a Day</option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
				<option value="9">9</option>
				<option value="10">10</option>
				<option value="11">11</option>
				<option value="12">12</option>
				<option value="13">13</option>
				<option value="14">14</option>
				<option value="15">15</option>
				<option value="16">16</option>
				<option value="17">17</option>
				<option value="18">18</option>
				<option value="19">19</option>
				<option value="20">20</option>
				<option value="21">21</option>
				<option value="22">22</option>
				<option value="23">23</option>
				<option value="24">24</option>
				<option value="25">25</option>
				<option value="26">26</option>
				<option value="27">27</option>
				<option value="28">28</option>
				<option value="29">29</option>
				<option value="30">30</option>
				<option value="31">31</option>
			</select><br><br>
		</div>
		<div id="enddate">
			<label for="date">End Date</label><br>
			<select id="end_month" name="end_month">
				<option value="0">Select a Month</option>
				<option value="1">January</option>
				<option value="2">February</option>
				<option value="3">March</option>
				<option value="4">April</option>
				<option value="5">May</option>
				<option value="6">June</option>
				<option value="7">July</option>
				<option value="8">August</option>
				<option value="9">September</option>
				<option value="10">October</option>
				<option value="11">November</option>
				<option value="12">December</option>
			</select>
			<select id="end_day" name="end_day">
				<option value="0">Select a Day</option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
				<option value="9">9</option>
				<option value="10">10</option>
				<option value="11">11</option>
				<option value="12">12</option>
				<option value="13">13</option>
				<option value="14">14</option>
				<option value="15">15</option>
				<option value="16">16</option>
				<option value="17">17</option>
				<option value="18">18</option>
				<option value="19">19</option>
				<option value="20">20</option>
				<option value="21">21</option>
				<option value="22">22</option>
				<option value="23">23</option>
				<option value="24">24</option>
				<option value="25">25</option>
				<option value="26">26</option>
				<option value="27">27</option>
				<option value="28">28</option>
				<option value="29">29</option>
				<option value="30">30</option>
				<option value="31">31</option>
			</select><br><br>
		</div>
		<div id="starttime">
			<label for="time">Start Time</label><br>
			<select id="start_hour" name="start_hour">
				<option value="12">12</option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
				<option value="9">9</option>
				<option value="10">10</option>
				<option value="11">11</option>
			</select>
			:
			<select id="start_minute" name="start_minute">
				<option value="00">00</option>
				<option value="15">15</option>
				<option value="30">30</option>
				<option value="45">45</option>
			</select>
			<select id="ampm_start" name="ampm_start">
				<option value="am">AM</option>
				<option value="pm">PM</option>
			</select><br><br>
		</div>
		<div id="endtime">
			<label for="time">End Time</label><br>
			<select id="end_hour" name="end_hour">
				<option value="12">12</option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
				<option value="9">9</option>
				<option value="10">10</option>
				<option value="11">11</option>
			</select>
			:
			<select id="end_minute" name="end_minute">
				<option value="00">00</option>
				<option value="15">15</option>
				<option value="30">30</option>
				<option value="45">45</option>
			</select>
			<select id="ampm_end" name="ampm_end">
				<option value="am">AM</option>
				<option value="pm">PM</option>
			</select><br><br>
		</div>
		<!-- This next bit will be dynamically added from the database
		later, and will be condensed to one dropdown menu, iirc. -->
		<div id="location" name='location'>
			Location of Incident<br>
			<select id="dynamicLocation" name="dynamicLocation">
				<option value="0">Select a Location</option>
				{% for loc in locations %}
				<option value={{ loc.id }}>{{ loc.name }}</option>
				{% endfor %}
			</select><br>
		</div>
		<div id="add/delete location">
			<input type="button" value="Add a Location Code" onClick="addLocation('dynamicLocation', document.getElementById('location').value);"><input type="button" value="Delete an Incident Code" onClick="removeLocation()"><br><br>
		</div>
		<!--
		Okay, now for some hocus pocus.

		The first bit here is using Jinja to loop over the list that we
		passed from app.py (take a look under the /submit part).  For
		each item there, we use the id as the returned value on form
		submission, and the code as the display name.

		The next div has two buttons.  Button 1 invokes the "subtype"
		function in forms.js (located in the Static folder), and button 2
		calls the "removeElement" function.  See that file's comments for
		an attempt at explaining how those work.
		-->
		<div id='and/or'>
			<label for="incident type">Incident Type</label><br>
			<input type="radio" name="and_or" value="and" checked>AND
			<input type="radio" name="and_or" value="or">OR<br>
		</div>
		<div id='dynamicType'>
			<select id="incidents" name="incidents">
				<option value="0">Select an Incident Code</option>
				{% for type in types %}
				<option value={{ type.id }}>{{ type.code }}</option>
				{% endfor %}
			</select><br>
		</div>
		<div id="add/delete incident">
			<input type="button" value="Add an Incident Code" onClick="addType('dynamicType', document.getElementById('incidents').value);"><input type="button" value="Delete an Incident Code" onClick="removeType()"><br><br>
		</div>
		<!-- And this is just a text box and a button.  Boring. -->
		<div id="textsearch">
			<label for="keywords">Keywords</label><br>
			<textarea cols="30" rows="5" placeholder="Enter any search keywords here." name="search textarea"></textarea><br><br>
		</div>
		<div id="submit">
			<input type="submit" value="Search">
		</div>
	</form>	
{% endblock %}